<%- include("partials/header.ejs") %>
<body id="background-page">
	<div class="container text-center">
		<h1 class="display-5 text-decoration-underline">BACKGROUND</h1>
		<p class="fs-3">
			You arrive at your desk in the morning but discover you have been locked out
			of your computer.
		</p>
		<p class="fs-3">
			You have an important board meeting by <span>10:00AM.</span>
		</p>
		<p class="fs-3">
			The time is <span>09:45AM,</span> You have <span>15 minutes</span> till the
			meeting.
		</p>
		<p class="fs-3">
			You need to pass through 3 Escape Rooms to unlock your system and recover
			your files.
		</p>
		<h4 class="display-6">
			Will you be able to make it before your board meeting?
		</h4>
		<a href="/room1" onclick="beginGame()" class="btn secondary-btn metropolis"
			>Yes, I Will <i class="fa-solid fa-arrow-right fs-5 ms-2"></i
		></a>
	</div>

	<script>
		sessionStorage.clear();
	</script>
</body>
<%- include("partials/footer.ejs") %>
