<%- include("partials/header.ejs") %>
<body id="badge-page">
	<div class="container d-flex align-items-center flex-column gap-sm-1 gap-lg-4">
		<h1 class="display-5 text-decoration-underline text-center">
			DIGITAL ESCAPE CHALLENGE: COMPLETED
		</h1>
		<img
			src="/assets/data-backup badge.png"
			alt="completion-badge"
			class="img-fluid"
		/>
		<a
			href="assets/data-backup badge.png"
			download="data-backup-challenge.png"
			class="btn m-auto metropolis primary-btn"
			>Download badge<i class="fa-solid fa-download ms-3"></i
		></a>
		<div id="restart fs-3">
			<a
				href="/"
				class="btn btn-outline-primary justify-self-center fw-bold metropolis"
			>
				<i class="fa-solid fa-rotate-left"></i> Play Again
			</a>
		</div>
	</div>
	<!-- font awesome -->
	<script
		src="https://kit.fontawesome.com/9bf456a39d.js"
		crossorigin="anonymous"
	></script>
	<!-- bootstrap -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"
	></script>
</body>
<%- include("partials/footer.ejs") %>
